version: "3.9"

services:
  traefik:
    image: traefik:v3.1
    container_name: traefik
    command:
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --entrypoints.web.address=:80

      # dashboard локально
      - --api.dashboard=true
      - --api.insecure=true

      - --log.level=INFO
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - web

  postgres:
    image: postgres:16-alpine
    container_name: reclo_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      # чтобы можно было подключаться к БД с мака (psql/DB client)
      - "54333:5432"
    networks:
      - web
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER:-postgres} -d ${DB_NAME:-reclo}"]
      interval: 5s
      timeout: 3s
      retries: 20

  redis:
    image: redis:7-alpine
    container_name: reclo_redis
    restart: unless-stopped
    ports:
      # чтобы можно было подключаться с мака, если надо
      - "6379:6379"
    networks:
      - web
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 20

  app:
      build: .
      container_name: reclo_app
      restart: unless-stopped
      env_file:
        - .env
      depends_on:
        postgres:
          condition: service_healthy
        redis:
          condition: service_healthy
      expose:
      - "8000"
      environment:
        ENV: "local"

        DB_HOST: postgres
        DB_PORT: 5432
        DB_USER: ${DB_USER}
        DB_PASS: ${DB_PASS}
        DB_NAME: ${DB_NAME}

        REDIS_HOST: redis
        REDIS_PORT: 6379

        JWT_SECRET_KEY: ${JWT_SECRET_KEY}
        JWT_ALGORITHM: ${JWT_ALGORITHM}
        JWT_ISS: ${JWT_ISS}
        JWT_AUD: ${JWT_AUD}

      networks:
        - web
      labels:
        - traefik.enable=true

        # http://api.localhost/*
        - traefik.http.routers.app.rule=Host(`api.localhost`)
        - traefik.http.routers.app.entrypoints=web
        - traefik.http.services.app.loadbalancer.server.port=8000

        # http://api.localhost/admin/* -> BasicAuth
        - traefik.http.routers.admin.rule=Host(`api.localhost`) && PathPrefix(`/admin`)
        - traefik.http.routers.admin.entrypoints=web
        - traefik.http.routers.admin.priority=100
        - traefik.http.routers.admin.service=app
        - traefik.http.routers.admin.middlewares=admin-auth
        - traefik.http.middlewares.admin-auth.basicauth.users=${ADMIN_BASIC_AUTH_USERS}

networks:
  web:
    driver: bridge

volumes:
  pgdata:
